@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm;
}

@layer base {
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

@layer components {
  #root {
    @apply flex flex-col md:flex-row;
  }

  .bg-hero {
    background-size: cover;
    background-image: url('@/assets/images/hero.jpg');
  }

  .bg-square {
    background-image: url('@/assets/images/square.svg');
  }

  [data-theme='dark'] {
    .bg-hero {
      background-image: url('@/assets/images/hero-dark.jpg');
    }

    .bg-square {
      background-image: url('@/assets/images/square-dark.svg');
    }

    .float-tips {
      @apply bg-neutral;
    }
  }

  .truncate-2 {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
