@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm;
}

@layer components {
  #root {
    @apply flex flex-col md:flex-row;
  }

  .bg-hero {
    background-size: cover;
    background-image: url('@/assets/images/hero.jpg');
  }

  .bg-square {
    background-image: url('@/assets/images/square.svg');
  }

  [data-theme='dark'] {
    .bg-hero {
      background-image: url('@/assets/images/hero-dark.jpg');
    }

    .bg-square {
      background-image: url('@/assets/images/square-dark.svg');
    }

    .float-tips {
      @apply bg-neutral;
    }
  }
}
